@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Monocraft';
    src: url('/Monocraft%20(1).ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Monocraft', monospace;
  }
  